* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #494242;
    color: white;
    padding: 10px 0;
}

header .logo img {
    width: 200px;
    margin-left: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.banner {
    text-align: center;
    padding: 50px 20px;
    background-color: #c6320d;
    color: white;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.products {
    padding: 40px 20px;
    background-color: #fff;
}

.products h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.product-item {
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    width: 22%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 18px;
    color: #333;
}

.contact {
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.contact button {
    padding: 10px 20px;
    background-color: #3b08f1;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}